.login-form {
  width: 548px;
  border-radius: 8px !important;
  padding: 54px 64px 48px !important;
  box-shadow: 0 4px 18px rgb(0 0 0 / 25%);
}

.login-form>div {
  padding: 0 !important;
  height: 100%;
}

.login-form h3 {
  margin-bottom: 32px !important;
}

.login-form .password {
  margin-bottom: 4px;
}

.login-form .loader-space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
}

.login-form .error-alert {
  margin-bottom: 24px;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
    font-weight: 400;
}

.forgot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.login-btn {
  width: 100%;
  background-color: #4d61fc !important;
  height: 48px !important;
  padding: 14px 15px !important;
  border-radius: 4px;
  justify-content: center;
  font: normal normal 16px/1.25 Lato,sans-serif;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%) !important;
  font-weight: 700 !important;
}