.app-container {
  height: 100%;
  overflow: auto;
  min-width: 1024px;
  padding: 30px 60px;
  background: url(./assets/background.png) no-repeat 100% 100%;
  background-size: cover;
  box-sizing: border-box;
}
