@import 'antd/dist/antd.css';

body {
  margin: 0;
  height: 100vh;
  font-family: Lato,sans-serif !important;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
